.hero {
  padding-bottom: 72px;
}
.hero-bg {
  display: flex;
  flex-direction: column;
  max-width: 335px;
  height: 620px;
  margin: 0 auto;
  background-color: #1e1823;
  background-image: var(--l-gradient),
    url(/src/images/chocolate-covered-cocoa-powder-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-bg {
    background-image: var(--l-gradient),
      url(/src/images/chocolate-covered-cocoa-powder-mobile@2x.jpg);
  }
}

.container {
}
.hero-container {
  margin-top: auto;
  padding-bottom: 20px;
  padding-left: auto;
  padding-right: auto;
  width: 100%;
}

.hero-wrap {
  padding-bottom: auto;
}

.hero-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: var(--clr-txt-white);
  margin-bottom: 32px;
}
.hero-btn-list {
  display: flex;
  gap: 14px;
  margin-bottom: 32px;
}
.hero-btn-item {
}
.list {
}
/* .hero-btn-buy {
} */
.main-btn {
  border-radius: 100px;
  border: 0;
  color: #fff;
  background-color: #fd9222;
  padding: 12px 28px;
  font-style: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  cursor: pointer;
}
.main-btn:is(:hover, :focus) {
  background-color: #fcf1e0;
  color: #fd9222;
}
/* от Дими */
/* .main-btn {
  color: #fff;
  background-color: #fd9222;
  border-radius: 100px;
  border-color: transparent;
  padding: 12px 28px;
} */
/* .secondary-btn {
  margin: 10px 10px;
  color: #fff;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #ffffff;
  padding: 12px 28px;
} */
.secondary-btn {
  border-radius: 100px;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
  padding: 12px 28px;
  font-style: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  cursor: pointer;
}
.secondary-btn:is(:hover, :focus) {
  border: 1px solid #fd9222;
  color: #fd9222;
}

.hero-btn-made {
}
.hero-scrol {
  display: flex;
  gap: 12px;
  align-items: center;
}
.hero-text-scrol {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: var(--clr-txt-white);
}
.hero-btn-scrol {
  width: 28px;
  height: 28px;
  border: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.hero-icon-scrol {
  /* fill: var(--clr-orange); */
  stroke: var(--clr-orange);
}
