/* ********** Title ************** */

.our-prod-title {
  margin-bottom: 32px;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 1.1666;
}

@media (min-width: 768px) {
  .our-prod-title {
    margin-bottom: 50px;
  }
}

.our-prod-start {
  color: var(--clr-txt-primery);
}

.our-prod-end {
  color: var(--clr-orange);
}

/* ********** Products ***************** */

.our-prod-piece {
  margin-bottom: 151px;
}

.our-prod-catalogue {
  margin-bottom: 20px;
  display: flex;
  gap: 18px;
}

@media (min-width: 769px) {
  .our-prod-catalogue {
    margin-bottom: 32px;
  }
}

.our-prod-goods {
  min-width: 335px;
  text-decoration: none;
  list-style-type: none;
  background: #ffffff;
  border: 1px solid var(--clr-sliders);
  border-radius: 15px;
  padding: 32px 52px 32px 53px;
}

@media (min-width: 768px) {
  .our-prod-goods {
    min-width: 270px;
    padding: 32px 20px;
  }
}

@media (max-width: 767px) {
.our-prod-goods:not(:first-child) {
  visibility: hidden;
}
}

.our-prod-goods img {
  margin-bottom: 8px;
}

.our-prod-introduce {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our-prod-name {
  text-transform: uppercase;
  color: var(--clr-txt-primery);
  font-size: 18px;
  letter-spacing: 0.02em;
  line-height: 1.3333;
  font-weight: 600;
  margin-bottom: 2px;
}

.our-prod-type {
  color: var(--clr-txt-second);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.1666;
  margin-bottom: 18px;
}

.our-prod-button {
  width: 94px;
  height: 33px;
  font-size: 14px;
  font-weight: 600;
  color: var(--clr-txt-primery);
  line-height: 1.2143;
  cursor: pointer;
  background-color: #fafafa;
  border: 1px solid var(--clr-sliders);
  border-radius: 100px;
}

/* *********** Slider ********** */

.our-prod-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

.our-prod-slider-btn {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: var(--clr-sliders);
  border: none;
}

.our-prod-slider-btn:hover{
  width: 28px;
  height: 13px;
  border-radius: 50%;
  border: none;
  background-color:  var(--clr-orange);
}