/* Unique components */
.sect-uni-comp {
  padding-top: 72px;
  padding-bottom: 72px;
}
@media screen and (min-width: 768px) {
  .sect-uni-comp {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .sect-uni-comp {
    padding-top: 128px;
    padding-bottom: 128px;
  }
}
/* Unique components cards */
.sect-uni-comp-title {
  width: 100%;
  max-width: 282px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--clr-txt-primery);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .sect-uni-comp-title {
    font-size: 24px;
    line-height: 1.17;
    width: 100%;
    max-width: 410px;
    margin-bottom: 28px;
  }
}

.sect-uni-comp-title-sp {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--clr-orange);
}

@media screen and (min-width: 768px) {
  .sect-uni-comp-title-sp {
    font-size: 24px;
    line-height: 1.17;
  }
}

.sect-uni-comp-text {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: var(--clr-txt-primery);
  text-align: center;
  margin-bottom: 32px;
}

.sect-uni-comp-title-wraper {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .sect-uni-comp-title-wraper {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 486px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
}

.sect-uni-comp-list {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .sect-uni-comp-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .sect-uni-comp-list {
    gap: 0px;
    margin-right: calc(-1 * 19px);
  }
}

.sect-uni-comp-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 335px;
  height: 270px;
  border-radius: 15px;
  background-color: var(--clr-orange);
  position: relative;

  overflow: hidden;
  transition-property: box-shadow;
  transition-duration: var(--time-transition);
}

@media screen and (min-width: 768px) {
  .sect-uni-comp-link {
    flex-wrap: wrap;
    flex-basis: calc((100% - 32px) / 2);
  }

  .sect-uni-comp-link:nth-last-child(2) {
    order: 1;
  }

  .sect-uni-comp-link:nth-last-child(3) {
    order: 1;
  }
}

@media screen and (min-width: 1200px) {
  .sect-uni-comp-link {
    width: 100%;
    min-width: 270px;
    flex-basis: calc((100% - 76px) / 4);
  }

  .sect-uni-comp-link:not(:last-child) {
    margin-right: 19px;
  }

  .sect-uni-comp-link:nth-last-child(2) {
    order: 0;
  }

  .sect-uni-comp-link:nth-last-child(3) {
    order: 0;
  }
}

.sect-uni-comp-link:nth-child(2n) {
  border: 1px solid var(--clr-orange);
  background-color: var(--clr-txt-white);
}

.sect-uni-comp-link:nth-child(3) {
  background-color: var(--clr-dark-violet);
}

.sect-uni-comp-wraper {
}

.sect-uni-comp-img {
  position: absolute;
  left: 28px;
  top: 28px;
}
@media screen and (min-width: 375px) {
  .sect-uni-comp-img {
    position: absolute;
    left: 56px;
    top: 28px;
  }
}

@media screen and (min-width: 1200px) {
  .sect-uni-comp-img {
    position: absolute;
    left: 28px;
    top: 28px;
  }
}

.sect-uni-comp-subtitle {
  position: absolute;
  left: 28px;
  bottom: 28px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  text-transform: uppercase;
  color: var(--clr-txt-primery);
}

.sect-uni-comp-color {
  color: var(--clr-txt-white);
}

/* Card color and text setup */
.sect-uni-comp-set-2-4 {
  border-color: var(--clr-orange);
}

/* Unique components cards hovver */
.sect-uni-comp-inner {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 335px;
  height: 270px;
  padding: 28px;
  border-radius: 15px;
  background-color: var(--clr-txt-white);

  opacity: 0;
  transform: scale(0);
  transition-property: opacity, scale;
  transition-duration: var(--time-transition);
}

@media screen and (min-width: 1200px) {
  .sect-uni-comp-inner {
    padding: 27px;
  }
}

.sect-uni-comp-link:hover {
  border: 0 solid var(--clr-txt-white);
  background-color: var(--clr-txt-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.sect-uni-comp-link:hover .sect-uni-comp-inner {
  opacity: 1;
  transform: scale(1);
}

.sect-uni-comp-inner-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--clr-txt-primery);

  margin-bottom: 8px;
}

.sect-uni-comp-inner-wraper {
  display: flex;
  gap: 6px;
  margin-bottom: 14px;
}

.sect-uni-comp-inner-subtitle {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: var(--clr-txt-white);
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: var(--clr-orange);
  border: 1px solid var(--clr-orange);
  border-radius: 36px;
}

.sect-uni-comp-inner-subtitle-sp {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: var(--clr-txt-primery);

  padding-left: 16px;
  padding-right: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 1px solid var(--clr-orange);
  border-radius: 36px;
}

.sect-uni-comp-inner-text {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--clr-txt-primery);
}
