<footer class="footer" id="footer-id">
  <p><a name="footer"></a></p>
  <container class="container footer-container">
    <div class="wrapper">
      <div class="wrapper-slogan">
        <p>
          <span class="logo-slogan">Chocolate</span> a delicious cure for a bad
          day
        </p>
      </div>
      <div class="wrapper-contacts">
        <div class="wrapper-contacts-text">
          <p class="wrapper-contacts-address-title">Contact us</p>
          <a class="wrapper-contacts-address-item" href="tel:+380684439426">
            +380 (68) 443-94-26
          </a>
          <a
            class="wrapper-contacts-address-item"
            href="mailto:simplychoc@gmail.com"
          >
            simplychoc@gmail.com
          </a>
        </div>
        <ul class="social">
          <li>
            <a class="social-link" href="https://www.instagram.com">
              <svg class="social-icon">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="social-link" href="http://twitter.com">
              <svg class="social-icon">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <hr class="line" />
    </div>
    <ul class="refs">
      <li class="ref">
        <a href="#">Home</a>
      </li>
      <li class="ref">
        <a href="#how-its-made-id">How it’s made?</a>
      </li>
      <li class="ref">
        <a href="#our-products-id">Our products</a>
      </li>
      <li class="ref">
        <a href="#top-sellers-id">Top sellers</a>
      </li>
      <li class="ref">
        <a href="#reviews-id">Chocolate is loved</a>
      </li>
    </ul>
  </container>
</footer>
