<link rel="stylesheet" href="./css/main.css" />

  <header>
    <div class="header-container">
      <nav class="nav-list">
        <a href="./header.html" >Simply<span >Chocolate</span>
      </a>
      <ul>
        <li>
          <a href="./header.html">Home</a
          >
        </li>
        <li>
          <a href="./header.html">How it's made?</a
          >
        </li>
        <li>
          <a href="./header.html">Our products</a
          >
        </li>
        <li>
          <a href="./header.html">Top sellers</a
          >
        </li>
        <li>
          <a href="./header.html">Chocolate is loved</a
          >
        </li>
      </ul>
      </nav>
      <ul>
        <li>
          <a href="#">
            <svg>
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <svg>
              <use href=""></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="mobile-menu">
      <button type="button" >
        <svg >
          <use href=""></use>
        </svg>
      </button>
      <ul>
        <li>
          <a href="./header.html">Home</a
          >
        </li>
        <li>
          <a href="./header.html">How it's made?</a
          >
        </li>
        <li>
          <a href="./header.html">Our products</a
          >
        </li>
        <li>
          <a href="./header.html">Top sellers</a
          >
        </li>
        <li>
          <a href="./header.html">Chocolate is loved</a
          >
        </li>
      </ul>
      <ul>
        <li>
          <a href="#">
            <svg>
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <svg>
              <use href=""></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </header>
