<section class="hero" id="hero-id">
  <div class="container">
    <div class="hero-bg">
      <div class="hero-wrap">
        <div class="hero-text-wrap">
          <h1 class="hero-title visually-hidden">
            Quality chocolate of our own production
          </h1>
          <p class="hero-text">
            Treat yourself or a loved one to our finest ingredients for a moment
            of pure delight!
          </p>

          <ul class="hero-btn-list">
            <li class="hero-btn-item list">
              <button class="hero-btn-buy buy-button" type="button">
                Buy now
              </button>
            </li>
            <li class="hero-btn-item list">
              <a href="#how-its-made-id" class="hero-btn-made" type="button"
                >How it’s made</a
              >
            </li>
          </ul>
        </div>
        <div class="hero-scrol">
          <a href="#footer-id" class="hero-link-scrol link">scroll down</a>
          <a href="#footer-id">
            <div class="hero-icon-container">
              <svg class="icon" width="16" height="16">
                <use href="../images/icons.svg#icon-vector-skrol-b"></use>
              </svg>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
