<section class="hitm">
 <div class="container">
  <h2 class="hitm-title">How it’s <span class="him-title-scnd">made?</span>
  </h2>
    <img
    class="hitm-photo"
    src=""
    alt="pastry-chef-preparing-chocolate-cake"
    width="335"
    />
    <h3 class="hitm-title-small">
        Try  our chocolates today and discover the perfect balance of flavor
    </h3>
    <div class="hitm-hole">
     <ul class="hitm-list">
        <li class="hitm-item">
        <p class="hitm-item-txt">Heat the milk in a saucepan without bringing it to a boil. 
            Add sugar and cocoa powder.</p>
        </li>
        <li class="hitm-item">
        <p class="hitm-item-txt">At the same time, prepare a water bath. Melt the butter on it.</p>
        </li>
        <li class="hitm-item">
        <p class="hitm-item-txt">"Mix" the milk mixture and already liquid butter. 
            Mix thoroughly with a silicone spatula so that the mass becomes uniform and silky.</p>
        </li>
        <li class="hitm-item">
        <p class="hitm-item-txt">Heat the mixture over low heat, letting it barely boil.</p>
        </li>
        <li class="hitm-item">
        <p class="hitm-item-txt">Pour the chocolate into special containers (can be replaced with ice molds). 
            Allow to cool and harden.</p>
        </li>
        </ul>
    </div>
 </div>
</section>