<section class="our-products-piece">
  <div class="container">
    <h2 class="our-products-title our-products-start">
      OUR<span class="our-products-title our-products-end"> PRODUCTS</span>
    </h2>
    <ul class="our-products-catalogue">
      <li class="our-products-goods">
        <img
          srcset="../images/prod-ogange.jpg 1x, ../images/prod-ogange@2x.jpg 2x"
          src="../images/prod-ogange.jpg"
          alt="ORANGE Dark chocolate"
          width="230"
          height="201"
        />
        <div class="our-products-introduce">
          <h3 class="our-products-name">ORANGE</h3>
          <p class="our-products-type">Dark chocolate</p>
          <button class="our-products-button" type="button">45 UAH</button>
        </div>
      </li>
      <li class="our-products-goods">
        <img
          srcset="../images/prod-apple.jpg 1x, ../images//prod-apple@2x.jpg 2x"
          src="../images/prod-apple.jpg"
          alt="APPLE&CRANBERRY Milk chocolate"
          width="230"
          height="201"
        />
        <div class="our-products-introduce">
          <h3 class="our-products-name">APPLE&CRANBERRY</h3>
          <p class="our-products-type">Milk chocolate</p>
          <button class="our-products-button" type="button">50 UAH</button>
        </div>
      </li>
      <li class="our-products-goods">
        <img
          srcset="../images/prod-lime.jpg 1x, ../images/prod-lime@2x.jpg 2x"
          src="../images/prod-lime.jpg"
          alt="LIME&SEA SALT Dark chocolate"
          width="230"
          height="201"
        />
        <div class="our-products-introduce">
          <h3 class="our-products-name">LIME&SEA SALT</h3>
          <p class="our-products-type">Dark chocolate</p>
          <button class="our-products-button" type="button">66 UAH</button>
        </div>
      </li>
      <li class="our-products-goods">
        <img
          srcset="
            ../images/prod-pineapple.jpg    1x,
            ../images/prod-pineapple@2x.jpg 2x
          "
          src="../prod-pineapple.jpg"
          alt="PINEAPPLE Dark chocolate"
          width="230"
          height="201"
        />
        <div class="our-products-introduce">
          <h3 class="our-products-name">PINEAPPLE</h3>
          <p class="our-products-type">Dark chocolate</p>
          <button class="our-products-button" type="button">54 UAH</button>
        </div>
      </li>
      <!-- <li class="our-products-goods">
        <img
          srcset="
            ../images/prod-classic.jpg    1x,
            ../images/prod-classic@2x.jpg 2x
          "
          src="../images/prod-classic.jpg"
          alt="Classic Milk chocolate"
          width="230"
          height="201"
        />
        <div class="our-products-introduce">
          <h3 class="our-products-name">Classic</h3>
          <p class="our-products-type">Milk chocolate</p>
          <button class="our-products-button" type="button">45 UAH</button>
        </div>
      </li>
      <li class="our-products-goods">
        <img
          srcset="../images/prod-honey.jpg 1x, ../images/prod-honey@2x.jpg 2x"
          src="../images/prod-honey.jpg"
          alt="honey Milk chocolate"
          width="230"
          height="201"
        />
        <div class="our-products-introduce">
          <h3 class="our-products-name">honey</h3>
          <p class="our-products-type">Milk chocolate</p>
          <button class="our-products-button" type="button">50 UAH</button>
        </div>
      </li>
      <li class="our-products-goods">
        <img
          srcset="../images/prod-fruits.jpg 1x, ../images/prod-fruits@2x.jpg 2x"
          src="../images/prod-fruits@2x.jpg"
          alt="Roasted fruits chocolate"
          width="230"
          height="201"
        />
        <div class="our-products-introduce">
          <h3 class="our-products-name">Roasted fruits</h3>
          <p class="our-products-type">Dark chocolate</p>
          <button class="our-products-button" type="button">66 UAH</button>
        </div>
      </li>
      <li class="our-products-goods">
        <img
          srcset="../images/prod-white.jpg 1x, ../images/prod-white@2x.jpg 2x"
          src="../images/prod-white@2x.jpg"
          alt="Classic White chocolate"
          width="230"
          height="201"
        />
        <div class="our-products-introduce">
          <h3 class="our-products-name">Classic</h3>
          <p class="our-products-type">White chocolate</p>
          <button class="our-products-button" type="button">54 UAH</button>
        </div>
      </li> -->
    </ul>
  </div>
</section>
