<section class="our-prod-piece" id="our-products-id">
  <div class="container">
    <h2 class="our-prod-title our-prod-start">
      OUR<span class="our-prod-title our-prod-end"> PRODUCTS</span>
    </h2>

    <div
      class="our-prod-catalogue-wrapper slider autoplay slick-initialized slick-slider slick-dotted"
    >
      <ul class="our-prod-catalogue">
        <li class="our-prod-goods">
          <img
            srcset="./images/prod-ogange.jpg 1x, ./images/prod-ogange@2x.jpg 2x"
            src="./images/prod-ogange.jpg"
            alt="ORANGE Dark chocolate"
            width="230"
            height="201"
          />
          <div class="our-prod-introduce">
            <h3 class="our-prod-name">ORANGE</h3>
            <p class="our-prod-type">Dark chocolate</p>
            <button class="our-prod-button" type="button">45 UAH</button>
          </div>
        </li>
        <li class="our-prod-goods">
          <img
            srcset="./images/prod-apple.jpg 1x, ./images//prod-apple@2x.jpg 2x"
            src="./images/prod-apple.jpg"
            alt="APPLE&CRANBERRY Milk chocolate"
            width="230"
            height="201"
          />
          <div class="our-prod-introduce">
            <h3 class="our-prod-name">APPLE&CRANBERRY</h3>
            <p class="our-prod-type">Milk chocolate</p>
            <button class="our-prod-button" type="button">50 UAH</button>
          </div>
        </li>
        <li class="our-prod-goods">
          <img
            srcset="./images/prod-lime.jpg 1x, ./images/prod-lime@2x.jpg 2x"
            src="./images/prod-lime.jpg"
            alt="LIME&SEA SALT Dark chocolate"
            width="230"
            height="201"
          />
          <div class="our-prod-introduce">
            <h3 class="our-prod-name">LIME&SEA SALT</h3>
            <p class="our-prod-type">Dark chocolate</p>
            <button class="our-prod-button" type="button">66 UAH</button>
          </div>
        </li>
        <li class="our-prod-goods">
          <img
            srcset="
              ./images/prod-pineapple.jpg    1x,
              ./images/prod-pineapple@2x.jpg 2x
            "
            src="./prod-pineapple.jpg"
            alt="PINEAPPLE Dark chocolate"
            width="230"
            height="201"
          />
          <div class="our-prod-introduce">
            <h3 class="our-prod-name">PINEAPPLE</h3>
            <p class="our-prod-type">Dark chocolate</p>
            <button class="our-prod-button" type="button">54 UAH</button>
          </div>
        </li>
        <li class="our-prod-goods visually-hidden">
          <img
            srcset="
              ./images/prod-classic.jpg    1x,
              ./images/prod-classic@2x.jpg 2x
            "
            src="./images/prod-classic.jpg"
            alt="Classic Milk chocolate"
            width="230"
            height="201"
          />
          <div class="our-prod-introduce">
            <h3 class="our-prod-name">Classic</h3>
            <p class="our-prod-type">Milk chocolate</p>
            <button class="our-prod-button" type="button">45 UAH</button>
          </div>
        </li>
        <li class="our-prod-goods visually-hidden">
          <img
            srcset="./images/prod-honey.jpg 1x, ./images/prod-honey@2x.jpg 2x"
            src="./images/prod-honey.jpg"
            alt="honey Milk chocolate"
            width="230"
            height="201"
          />
          <div class="our-prod-introduce">
            <h3 class="our-prod-name">honey</h3>
            <p class="our-prod-type">Milk chocolate</p>
            <button class="our-prod-button" type="button">50 UAH</button>
          </div>
        </li>
        <li class="our-prod-goods visually-hidden">
          <img
            srcset="./images/prod-fruits.jpg 1x, ./images/prod-fruits@2x.jpg 2x"
            src="./images/prod-fruits.jpg"
            alt="Roasted fruits chocolate"
            width="230"
            height="201"
          />
          <div class="our-prod-introduce">
            <h3 class="our-prod-name">Roasted fruits</h3>
            <p class="our-prod-type">Dark chocolate</p>
            <button class="our-prod-button" type="button">66 UAH</button>
          </div>
        </li>
        <li class="our-prod-goods visually-hidden">
          <img
            srcset="./images/prod-white.jpg 1x, ./images/prod-white@2x.jpg 2x"
            src="./images/prod-white.jpg"
            alt="Classic White chocolate"
            width="230"
            height="201"
          />
          <div class="our-prod-introduce">
            <h3 class="our-prod-name">Classic</h3>
            <p class="our-prod-type">White chocolate</p>
            <button class="our-prod-button" type="button">54 UAH</button>
          </div>
        </li>
      </ul>
    </div>
    <ul class="our-prod-slider">
      <li><button class="our-prod-slider-btn" type="button"></button></li>
      <li><button class="our-prod-slider-btn" type="button"></button></li>
      <li><button class="our-prod-slider-btn" type="button"></button></li>
      <li><button class="our-prod-slider-btn" type="button"></button></li>
      <li><button class="our-prod-slider-btn" type="button"></button></li>
      <li><button class="our-prod-slider-btn" type="button"></button></li>
      <li><button class="our-prod-slider-btn" type="button"></button></li>
      <li><button class="our-prod-slider-btn" type="button"></button></li>
    </ul>
  </div>
</section>
