<section class="section-reviews" id="reviews-id">
  <div class="container">
    <h2 class="section-reviews-title">
      <span class="section-reviews-title-wrapper">chocolate&nbsp;</span>is loved
    </h2>
    <ul class="section-reviews-list">
      <li class="section-reviews-list-card">
        <div class="reviews-card-content-wrapper">
          <img
            class="review-card-picture"
            srcset="
              ./images/ellipse-victoria.png    1x,
              ./images/ellipse-victoria@2x.png 2x
            "
            src="./images/ellipse-victoria.png"
            alt="Review from Victoria Dobrzhanska"
            width="80"
            height="80"
          />
          <h3 class="section-reviews-subtitle">Victoria Dobrzhanska</h3>
          <p class="section-reviews-description">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </div>
      </li>
      <li class="section-reviews-list-card">
        <div class="reviews-card-content-wrapper">
          <img
            class="review-card-picture"
            srcset="
              ./images/ellipse-nazar.png    1x,
              ./images/ellipse-nazar@2x.png 2x
            "
            src="./images/ellipse-nazar.png"
            alt="Review from Nazar Babenko"
            width="80"
            height="80"
          />
          <h3 class="section-reviews-subtitle">Nazar Babenko</h3>
          <p class="section-reviews-description">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
        </div>
      </li>
      <li class="section-reviews-list-card">
        <div class="reviews-card-content-wrapper">
          <img
            class="review-card-picture"
            srcset="
              ./images/ellipse-olena.png    1x,
              ./images/ellipse-olena@2x.png 2x
            "
            src="./images/ellipse-olena.png"
            alt="Review from Olena Kampusch"
            width="80"
            height="80"
          />
          <h3 class="section-reviews-subtitle">Olena Kampusch</h3>
          <p class="section-reviews-description">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </div>
      </li>
      <li class="section-reviews-list-card">
        <div class="reviews-card-content-wrapper">
          <img
            class="review-card-picture"
            srcset="
              ./images/ellipse-natalia.png    1x,
              ./images/ellipse-natalia@2x.png 2x
            "
            src="./images/ellipse-natalia.png"
            alt="Review from Natalia Sus"
            width="80"
            height="80"
          />
          <h3 class="section-reviews-subtitle">Natalia Sus</h3>
          <p class="section-reviews-description">
            The chocolate assortment was delicious. Both dark and milk chocolate
            pieces were smooth and just right on the sweetness level.
          </p>
        </div>
      </li>
      <li class="section-reviews-list-card">
        <div class="reviews-card-content-wrapper">
          <img
            class="review-card-picture"
            class="review-card-picture"
            srcset="
              ./images/ellipse-danil.png    1x,
              ./images/ellipse-danil@2x.png 2x
            "
            src="./images/ellipse-danil.png"
            alt="Review from Danilo Nottingham"
            width="80"
            height="80"
          />
          <h3 class="section-reviews-subtitle">Danilo Nottingham</h3>
          <p class="section-reviews-description">
            This is delicious. It so rich and flavorful you don’t need to use as
            many. I love topping an apple with almond butter and these chips for
            a snack.
          </p>
        </div>
      </li>
      <li class="section-reviews-list-card">
        <div class="reviews-card-content-wrapper">
          <img
            class="review-card-picture"
            srcset="
              ./images/ellipse-irina.png    1x,
              ./images/ellipse-irina@2x.png 2x
            "
            src="./images/ellipse-irina.png"
            alt="Review from Irina Tydnyuk"
            width="80"
            height="80"
          />
          <h3 class="section-reviews-subtitle">Irina Tydnyuk</h3>
          <p class="section-reviews-description">
            This is simply the best chocolate around, and I'm just thrilled to
            support a local company! Best local chocolate - world class :)
          </p>
        </div>
      </li>
    </ul>
    <button class="leave-review-button" type="button">Leave a review</button>
  </div>
</section>
