<section class="section-top-sellers" id="top-sellers-id">
  <div class="container">
    <h2 class="top-sellers-title top-sellers-title-first">
      TOP<span class="top-sellers-title-second"> SELLERS</span>
    </h2>
    <div class="top-sellers-wrapper-pc">
      <ul class="top-sellers-pic-list-pc">
        <li class="top-sellers-pic-item">
          <img
            srcset="../images/sell-1-desktop.jpg x1,
            ../images/sell-1-desktop@2.jpg x2"
            src="../images/sell-1-desktop.jpg"
            class="top-sellers-pic"
            alt="chocolate with nuts"
          />
        </li>
        <li class="top-sellers-pic-item">
          <img
            srcset="../images/sell-2-desktop.jpg x1,
            ../images/sell-2-desktop@2.jpg x2"
            src="../images/sell-2-desktop.jpg"
            class="top-sellers-pic"
            alt="pile of chocolate"
          />
        </li>
        <li class="top-sellers-pic-item">
          <img
            srcset="../images/sell-3-desktop.jpg x1,
            ../images/sell-3-desktop@2.jpg x2"
            src="../images/sell-3-desktop.jpg"
            class="top-sellers-pic"
            alt="pile of chocolate"
          />
        </li>
      </ul>

      <div class="top-sellers-bottom-wrapper">
        <p class="top-sellers-paragraph">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
        <button
          class="main-btn top-seller-buy-now-btn buy-button"
          type="button"
        >
          Buy now
        </button>
      </div>
    </div>

    <div class="top-sellers-wrapper-mobile">
      <ul class="top-sellers-pic-list-mobile">
        <li class="top-sellers-pic-item">
          <img
            srcset="../images/sell-1-mobile.jpg x1,
            ../images/sell-1-mobile@2.jpg x2"
            src="../images/sell-1-mobile.jpg"
            class="top-sellers-pic"
            alt="chocolate with nuts"
          />
          <p>
            Crazy enough chocolate originates from a bean just like the coffee
            bean called Cacao. Cacao has been around for thousands of years and
            was first discovered by the Native American tribe called the Mayans.
          </p>
        </li>
        <li class="top-sellers-pic-item">
          <img
            srcset="../images/sell-2-mobile.jpg x1,
            ../images/sell-2-mobile@2.jpg x2"
            src="../images/sell-2-mobile.jpg"
            class="top-sellers-pic"
            alt="pile of chocolate"
          /><button
            class="main-btn top-seller-buy-now-btn buy-button"
            type="button"
          >
            Buy now
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
