<div class="top-sel-back-drop is-hidden" data-modal>
  <div class="top-sel-modal is-hidden">
    <button
      class="modal-btn-close js-close-modal"
      type="submit"
      data-modal-close
    >
      <svg class="top-sel-modal-btn-svg" width="24" height="24">
        <use href="./images/icons.svg#icon-modal-btnx-close"></use>
      </svg>
    </button>
    <h2 class="top-sel-form-title">
      <span class="top-sel-form-title-span">buy</span> now
    </h2>
    <ul class="top-sel-card-list">
      <li class="top-sel-card-link">
        <picture>
          <source
            srcset="./images/buy-now-1.png 1x, ./images/buy-now-1@2x.png 2x"
            type="image/png"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/buy-now-mob-1.png    1x,
              ./images/buy-now-mob-1@2x.png 2x
            "
            type="image/png"
          />

          <img
            class="top-sel-card-img"
            src="./images/buy-now-mob-1.png"
            alt="chocolate"
          />
        </picture>

        <div class="top-sel-card-wraper">
          <p class="top-sel-card-wraper-inner">100 g</p>
        </div>
      </li>
      <li class="top-sel-card-link mob-act">
        <picture>
          <source
            srcset="./images/buy-now-2.png 1x, ./images/buy-now-2@2x.png 2x"
            type="image/png"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/buy-now-mob-2.png    1x,
              ./images/buy-now-mob-2@2x.png 2x
            "
            type="image/png"
          />

          <img
            class="top-sel-card-img"
            src="./images/buy-now-mob-2.png"
            alt="bars of black and white chocolate"
          />
        </picture>
        <div class="top-sel-card-wraper">
          <p class="top-sel-card-wraper-inner">200 g</p>
        </div>
      </li>
      <li class="top-sel-card-link mob-act">
        <picture>
          <source
            srcset="./images/buy-now-3.png 1x, ./images/buy-now-3@2x.png 2x"
            type="image/png"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/buy-now-mob-3.png    1x,
              ./images/buy-now-mob-3@2x.png 2x
            "
            type="image/png"
          />

          <img
            class="top-sel-card-img"
            src="./images/buy-now-mob-3.png"
            alt="bar o chocolate"
          />
        </picture>
        <div class="top-sel-card-wraper">
          <p class="top-sel-card-wraper-inner">300 g</p>
        </div>
      </li>
    </ul>

    <form class="top-sel-form" name="top-sel-form">
      <label for="top-sel-surname"></label>
      <label class="top-sel-form-label" for="top-sel-name"
        >Personal information</label
      >

      <div class="top-sel-form-wraper">
        <!-- Name -->
        <input
          class="top-sel-form-input top-sel-spase"
          id="top-sel-name"
          type="text"
          name="name"
          placeholder="name"
          autofocus
          required
          pattern="^[a-zA-Zа-яА-ЯіІїЇ]+$"
          minlength="2"
        />
        <!-- Surname -->
        <input
          class="top-sel-form-input"
          id="top-sel-surname"
          type="text"
          name="surname"
          placeholder="surname"
        />
      </div>
      <!-- Email -->
      <label class="top-sel-form-label" for="top-sel-email">Email</label>
      <input
        class="top-sel-form-input"
        id="top-sel-email"
        type="email"
        name="email"
        placeholder="enter your email"
        required
        pattern="[^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$]"
        title="user@mail.com"
      />
      <!-- Phone number -->
      <label class="top-sel-form-label" for="top-sel-ph-num"
        >Phone number</label
      >
      <div class="top-sel-form-label-svg">
        <div class="top-sel-form-phone-svg-wraper">
          <svg class="top-sel-form-phone-svg">
            <use href="./images/icons.svg#icon-modal-btn-prapor"></use>
          </svg>
          <span class="top-sel-form-phone-reg">+38 (0</span>
        </div>

        <input
          class="top-sel-form-input top-sel-form-inp-left-sp"
          id="top-sel-ph-num"
          type="tel"
          name="phone"
          placeholder="phone number"
          required
          data-phone-mask
          title="**) **-**-***"
        />
      </div>
      <!-- Card number -->
      <label class="top-sel-form-label" for="top-sel-card-num"
        >Card number</label
      >
      <div class="top-sel-form-label-svg-card">
        <svg class="top-sel-form-phone-svg-card">
          <use href="./images/icons.svg#icon-modal-btn-ms-card"></use>
        </svg>
        <input
          class="top-sel-form-input top-sel-form-inp-left-ms-card"
          id="top-sel-card-num"
          type="text"
          name="card"
          required
          inputmode="numeric"
          pattern="[0-9]*"
          data-credit-card-mask
          placeholder="XXXX XXXX XXXX XXXX"
        />
      </div>
      <!-- Comment -->
      <label class="top-sel-form-label" for="top-sel-Comment">Comment</label>
      <textarea
        class="top-sel-form-input top-sel-text-sp"
        id="top-sel-Comment"
        name="Comment"
        placeholder="enter text"
      ></textarea>
      <button
        class="main-btn top-sel-form-btn buy-modal-submit-button"
        type="submit"
      >
        Submit
      </button>
    </form>
  </div>
</div>

<!-- Top seller PopUp -->
<div class="top-sel-popup is-hidden">
  <div class="top-sel-popup-wraper">
    <h3 class="top-sel-popup-title">thank you!</h3>
    <p class="top-sel-popup-text">
      We are glad that you ordered our chocolate and we are giving you a 20%
      discount on all our products.
    </p>
  </div>
  <picture>
    <source
      srcset="./images/pop-up.png 1x, ./images/pop-up@2x.png 2x"
      type="image/png"
      media="(min-width: 768px)"
    />
    <source
      srcset="./images/pop-up-mobile.png 1x, ./images/pop-up-mobile@2x.png 2x"
      type="image/png"
    />

    <img
      class="top-sel-popup-img"
      src="./images/pop-up-mobile.png"
      alt="chocolate"
    />
  </picture>

  <button class="top-sel-popup-btn buy-modal-popup-close-button" type="button">
    <svg class="top-sel-popup-svg">
      <use href="./images/icons.svg#icon-modal-btnx-close"></use>
    </svg>
  </button>
</div>

<div class="modal-review modal is-hidden">
  <button type="button" class="modal-review-close-btn js-close-modal">
    <svg class="modal-review-close-btn-icon" width="24" height="24">
      <use href="./images/icons.svg#icon-x-close"></use>
    </svg>
  </button>
  <p class="action-user">
    leave a review about&nbsp;<span class="action-user-wrapper"
      >our chocolate</span
    >
  </p>
  <form class="modal-review-form">
    <label class="modal-review-form-field">
      <input
        placeholder="Name"
        type="text"
        name="user-name"
        class="modal-review-form-input"
        required
        autofocus
        pattern="^[a-zA-Zа-яА-ЯіІїЇ]+$"
        minlength="2"
      />
    </label>
    <label class="modal-review-form-field">
      <input
        placeholder="Enter your email"
        type="email"
        name="user-email"
        class="modal-review-form-input"
        required
        pattern="[^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$]"
        title="user@mail.com"
      />
    </label>
    <label class="modal-review-form-field">
      <span class="modal-review-form-input-wrapper">
        <input
          class="top-sel-form-input top-sel-form-inp-left-sp"
          placeholder="Phone number"
          type="tel"
          name="user-phone"
          class="modal-review-form-input-mobile"
          required
          data-phone-mask
          title="**) **-**-***"
          placeholder="phone number"
        />
        <svg class="modal-review-form-input-icon">
          <use href="./images/icons.svg#icon-flag"></use>
        </svg>
        <span class="mobile-code">+38 (0</span>
      </span>
    </label>
    <label class="modal-review-form-field">
      <textarea
        name="user-comment"
        class="modal-review-form-comment"
        placeholder="Enter text"
        required
      ></textarea>
    </label>
    <button type="submit" class="modal-review-form-submit">Send</button>
  </form>
</div>

<div class="review-popup is-hidden">
  <div class="review-popup-wraper">
    <h3 class="top-sel-popup-title">
      thank you <br />
      for your feedback!
    </h3>
    <p class="top-sel-popup-text review-modal-popup-text">
      We are so happy to hear from you!
    </p>
  </div>
  <picture>
    <source
      srcset="./images/pop-up.png 1x, ./images/pop-up@2x.png 2x"
      type="image/png"
      media="(min-width: 768px)"
    />
    <source
      srcset="./images/pop-up-mobile.png 1x, ./images/pop-up-mobile@2x.png 2x"
      type="image/png"
    />

    <img
      class="top-sel-popup-img"
      src="./images/pop-up-mobile.png"
      alt="chocolate"
    />
  </picture>

  <button class="top-sel-popup-btn review-popup-close-button" type="button">
    <svg class="top-sel-popup-svg">
      <use href="./images/icons.svg#icon-modal-btnx-close"></use>
    </svg>
  </button>
</div>

<div class="modal-subscribe modal is-hidden">
  <button type="button" class="modal-review-close-btn js-close-modal">
    <svg class="modal-review-close-btn-icon" width="24" height="24">
      <use href="./images/icons.svg#icon-x-close"></use>
    </svg>
  </button>
  <div class="modal-subscribe-top-banner"></div>
  <p class="modal-subscribe-text">
    explore our&nbsp;<br /><span class="action-user-wrapper"
      >new chocolate</span
    >
    first!
  </p>
  <form class="modal-review-form">
    <label class="modal-review-form-field">
      <input
        placeholder="Enter your email"
        type="email"
        name="user-email"
        class="modal-review-form-input"
        required
        pattern="[^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$]"
        title="user@mail.com"
      />
    </label>

    <button type="submit" class="modal-review-form-submit">Submit</button>
  </form>
</div>
