<!-- Unique components -->
<section class="sect-uni-comp" id="unique-components-id">
  <div class="container">
    <div class="sect-uni-comp-title-wraper">
      <h2 class="sect-uni-comp-title">
        IT ALL ADDS UP TO ONE EXCEPTIONAL
        <span class="sect-uni-comp-title-sp">TASTE</span> SENSATION
      </h2>
      <p class="sect-uni-comp-text">
        At Simply Chocolate, we believe that the secret to exceptional chocolate
        is in the details. From the sourcing of the finest ingredients to the
        careful crafting of each individual piece, every step of our process
        adds up to one exceptional taste sensation.
      </p>
    </div>
    <!-- Cards -->
    <ul class="sect-uni-comp-list">
      <li class="sect-uni-comp-link">
        <div class="sect-uni-comp-wraper">
          <picture>
            <source
              srcset="
                ./images/chocolate-bar-1-tablet.png    1x,
                ./images/chocolate-bar-1-tablet@2x.png 2x
              "
              type="image/png"
              media="(max-width: 1199px)"
            />
            <source
              srcset="
                ./images/chocolate-bar-1-desktop.png    1x,
                ./images/chocolate-bar-1-desktop@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./images/chocolate-bar-1-tablet.png"
              alt="milk chocolate"
              class="sect-uni-comp-img"
            />
          </picture>
          <h3 class="sect-uni-comp-subtitle sect-uni-comp-color">
            milk chocolate
          </h3>
        </div>
        <!-- Cards Hover -->
        <div class="sect-uni-comp-inner">
          <h4 class="sect-uni-comp-inner-title">milk chocolate</h4>

          <div class="sect-uni-comp-inner-wraper">
            <p class="sect-uni-comp-inner-subtitle">chocolate</p>
            <span class="sect-uni-comp-inner-subtitle-sp">the benefits</span>
          </div>

          <p class="sect-uni-comp-inner-text">
            Milk chocolate is a solid chocolate confectionery containing cocoa,
            sugar and milk. It is the most consumed type of chocolate. Chocolate
            was originally sold and consumed as a beverage in pre-Columbian
            times. Although four-fifths of all milk chocolate is sold in the
            United States and Europe, increasingly large amounts are consumed in
            China and Latin America.
          </p>
        </div>
      </li>
      <li class="sect-uni-comp-link">
        <div class="sect-uni-comp-wraper">
          <picture>
            <source
              srcset="
                ./images/milk-2-tablet.png    1x,
                ./images/milk-2-tablet@2x.png 2x
              "
              type="image/png"
              media="(max-width: 1199px)"
            />
            <source
              srcset="
                ./images/milk-2-desktop.png    1x,
                ./images/milk-2-desktop@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./images/milk-2-tablet.png"
              alt="milk"
              class="sect-uni-comp-img"
            />
          </picture>

          <h3 class="sect-uni-comp-subtitle">milk</h3>
        </div>
        <!-- Cards Hover -->
        <div class="sect-uni-comp-inner">
          <h4 class="sect-uni-comp-inner-title">milk</h4>

          <div class="sect-uni-comp-inner-wraper">
            <p class="sect-uni-comp-inner-subtitle">milk</p>
            <span class="sect-uni-comp-inner-subtitle-sp">the benefits</span>
          </div>

          <p class="sect-uni-comp-inner-text">
            Milk is a white liquid food produced by the mammary glands of
            mammals. It is the primary source of nutrition for young mammals
            (including breastfed human infants) before they are able to digest
            solid food.Early-lactation milk, which is called colostrum, contains
            antibodies that strengthen the immune system, and thus reduces the
            risk of many diseases. Milk contains many nutrients, including
            protein and lactose.
          </p>
        </div>
      </li>
      <li class="sect-uni-comp-link">
        <div class="sect-uni-comp-wraper">
          <picture>
            <source
              srcset="
                ./images/nuts-3-tablet.png    1x,
                ./images/nuts-3-tablet@2x.png 2x
              "
              type="image/png"
              media="(max-width: 1199px)"
            />
            <source
              srcset="
                ./images/nuts-3-desktop.png    1x,
                ./images/nuts-3-desktop@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./images/nuts-3-tablet.png"
              alt="nuts"
              class="sect-uni-comp-img"
            />
          </picture>

          <h3 class="sect-uni-comp-subtitle sect-uni-comp-color">nuts</h3>
        </div>
        <!-- Cards Hover -->
        <div class="sect-uni-comp-inner">
          <h4 class="sect-uni-comp-inner-title">nuts</h4>

          <div class="sect-uni-comp-inner-wraper">
            <p class="sect-uni-comp-inner-subtitle">nuts</p>
            <span class="sect-uni-comp-inner-subtitle-sp">the benefits</span>
          </div>

          <p class="sect-uni-comp-inner-text">
            Almonds, pistachios, and walnuts are some types of nuts that contain
            healthy nutrients. When eaten as part of a nutrient-dense diet,
            these 9 nuts may offer benefits such as reducing your risk of heart
            disease. They’re a good source of fiber, healthy fats, and plant
            protein. Plus, they’re great on their own, paired with fruit, or
            added to dishes like salads, desserts, and grains.
          </p>
        </div>
      </li>
      <li class="sect-uni-comp-link">
        <div class="sect-uni-comp-wraper">
          <picture>
            <source
              srcset="
                ./images/sweet-chocolate-4-tablet.png    1x,
                ./images/sweet-chocolate-4-tablet@2x.png 2x
              "
              type="image/png"
              media="(max-width: 1199px)"
            />
            <source
              srcset="
                ./images/sweet-chocolate-4-desktop.png    1x,
                ./images/sweet-chocolate-4-desktop@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./images/sweet-chocolate-4-tablet.png"
              alt="sweet-chocolate"
              class="sect-uni-comp-img"
            />
          </picture>

          <h3 class="sect-uni-comp-subtitle">semi-sweet-chocolate</h3>
        </div>
        <!-- Cards Hover -->
        <div class="sect-uni-comp-inner">
          <h4 class="sect-uni-comp-inner-title">sweet-chocolate</h4>

          <div class="sect-uni-comp-inner-wraper">
            <p class="sect-uni-comp-inner-subtitle">sweet-chocolate</p>
            <span class="sect-uni-comp-inner-subtitle-sp">the benefits</span>
          </div>

          <p class="sect-uni-comp-inner-text">
            Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of
            the best ways to gain an understanding of this type of chocolate is
            to compare it to a different type of chocolate. Semisweet is darker
            than milk chocolate. In a taste comparison, it has a slightly bitter
            taste whereas milk chocolate is sweeter and more mellow. This
            delectable flavor of chocolate is very versatile.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
